*{
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
}
html{
    font-size:10px;
}
body{
    width: 640px;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    overflow-x: hidden;
}
.container{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 640px;
    background: rgb(254,173,30) ;
}
.topTag{
    margin: 0 auto;
    width: 640px;
    height: 165px;
    background: url("../images/topTag.png") no-repeat center ;
    background-size: 150px;
}
.midTag{
    margin: 0 auto;
    width: 640px;
    height: 200px;
    background: url("../images/midTag.png") no-repeat center;
    background-size: 550px;
}
.downTag{
    margin: 0 auto;
    width: 640px;
    height: 110px;
    color: white;
}
.downTag h1{
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    text-shadow:2px 2px 5px black;
}
.downTag p{
    margin: 10px auto;
    text-align: center;
    font-size: 30px;
    color: rgba(0,0,0,0.7);
}
.formBox{
    margin: 20px auto;
    margin-top: 25px;
    width: 518px;
    height: 300px;
    background-color: rgb(248,234,200);;
    border-radius: 8px;
}
.couponBox{
    margin: 150px auto;
    padding-top: 20px;
    width: 518px;
    height: 320px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 8px;
}
.footer{
    margin: 40px auto;
    width: 640px;
    height: 90px;
    text-align: center;
    font-size: 20px;
}
.formBox form{
    padding-top: 20px;
    position: relative;
    display: block;
    width: 518px;
}
.inputBox .bar{
    padding-left: 44px;
    margin: 20px auto;
    width: 520px;
    height: 80px;
}
.inputBox p{
    margin-top: 20px;
    margin-left: 110px;
    width: 380px;
    height: 20px;
    color: rgb(222,11,49);
    font-size: 22px;
}
.inputBox span{
    font-size: 28px;
    width: 100px;
    height: 80px;
}
.inputBox input{
    -webkit-appearance: none;
    margin: 0 0;
    padding: 0 0;
    margin-left: 10px;
    width: 380px;
    height: 80px;
    border: none;
    left: 40px;
    border-radius: 8px;
    font-size: 28px;
    text-indent: 30px;
}
.buttSubmit{
    margin: 30px auto;
    width: 454px;
    height: 82px;
    text-align: center;
    line-height: 82px;
    color: white;
    font-size: 28px;
    background-color: rgb(255,119,63);
    border-radius: 8px;
}
.getButt{
    margin: 30px auto;
    width: 454px;
    height: 82px;
    text-align: center;
    line-height: 82px;
    color: white;
    font-size: 28px;
    background-color: rgb(255,119,63);
    border-radius: 8px;
}
.pressClass{
    background-color: rgb(200,0,49);
}
.wrap{
    position: absolute;
    margin: 0 auto;
    z-index: 2;
    width: 640px;
    background-color: rgba(0,0,0,0.7);
}
.inner{
    margin: 200px auto;
    width: 440px;
    height: 566px;
    border-radius: 8px;
    background-color: white;

}
.innerHeader{
    margin: 0 auto;
    width: 440px;
    height: 108px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgb(254,173,30) ;
    color: white;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    line-height: 108px;
}
.innerFooter{
    margin: -10px auto;
    width: 400px;
    height: 95px;
    font-size: 25px;
    text-align: center;
}
.cancelButt{
    margin: -150px auto;
    width: 65px;
    height: 65px;
    background: url("../images/cancel.png") no-repeat center;
}
.LeveOneTag{
    margin: 0 auto;
    width: 440px;
    height: 280px;
    background: url("../images/levelOne.png") no-repeat center;
}
.LeveTwoTag{
    margin: 0 auto;
    width: 440px;
    height: 280px;
    background: url("../images/levelTwo.png") no-repeat center;
}
.LeveThreeTag{
    margin: 0 auto;
    width: 440px;
    height: 280px;
    background: url("../images/levelThree.png") no-repeat center;
}
.LeveFourTag{
    margin: 5px auto;
    width: 440px;
    height: 220px;
    background: url("../images/levelFour.png") no-repeat center;
}
.getCoupon{
    margin: 5px auto;
    width: 344px;
    height: 82px;
    background-color: rgb(255,118,68);
    border-radius: 8px;
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 82px;
}